venv/
env/
ENV/
.venv/

.env


*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.tmp

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
pip-wheel-metadata/
*.egg

.tox/
.coverage
coverage.xml
htmlcov/

.vscode/
.idea/

*.log
logs/
temp/

.git/
.gitignore